:root {
  --button-bg-color: rgb(233, 233, 233);
  --operator-bg-color: rgb(204, 203, 203);
}

html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  background-color: rgb(144, 167, 158);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

 .result {
  border: 1px solid black;
  grid-area: result;
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 15px;
  font-size: 2em;
  background-color: rgb(223, 230, 228);
} 

.nums {
  grid-area: nums;
  display: inherit;
  grid-template-columns: repeat(3, 1fr);
}

.num-zero {
  grid-area: num-zero;
}

.btn {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-bg-color);
}

.operators {
  grid-area: operators;
  display: inherit;
} 

.operators > div {
  background-color: var(--operator-bg-color);
}

.equals {
  grid-area: equals;
  background-color: var(--operator-bg-color);
 
}

.clear {
  grid-area: clear;
  background-color: var(--operator-bg-color);
}

.delete {
  grid-area: delete;
  background-color: var(--operator-bg-color);
}

.calculator {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(4, 85px);
  grid-template-rows: repeat(6, 85px);
  grid-template-areas: 
  "result result result result"
  "clear clear delete equals"
  "nums nums nums operators"
  "nums nums nums operators"
  "nums nums nums operators"
  "num-zero num-zero num-zero operators"
  ;
}


